body {
    background-color: #121212;
    font-family: 'Montserrat', sans-serif;
    color: antiquewhite;
}
img {
    width: 150px;
    height: 150px;
    border-radius:25px;
}

.card{
    float: left;
}
